<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/styles.css" />
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
    <div id="app">

        <!-- 動態載入圖片url -->
        <img :src="image"/><br>
        
        <!-- if else -->
        <p v-if="inStock">In Stock</p>
        <p v-else>Out of Stock</p>

        <!-- compute -->
        <!-- Ex_1顯示字串 -->
        <!--
            說明: 
                title 的值是在 computed 裡的 title() 所回傳的
         -->
        <h1>{{title}}</h1>

         <!-- Ex_2 -->
         <ul>
            <li v-for="(item, index) in variants" :key="item.id" 
                @mouseover="updateVariant(index)"
                class="color-circle"
                :style="{ backgroundColor: item.color}">
                {{ item.color }}</li>
        </ul>

        <!-- Event -->
        <div> Car({{cart}})</div>
        <button v-on:Click="cart += 1"> Add to Cart</button> <br>
        <button v-on:Click="addToCart"> Add to Cart (using function)</button><br>
        <!-- 以上可以簡寫成下面 -->
        <button @Click="addToCart"> Add to Cart (簡寫)</button><br>
        <button @Click="removeFromCart"> Remove from Cart</button><br>
        <br><br><br>
    </div><!--./ app-->

   <!-- Import App -->
   <script src="./main.js"></script>

    <script>
        const mountedApp = app.mount('#app')
    </script>

</body>
</html>