<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/styles.css" />
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
    <div id="app">
        <!-- 顯示字串 -->
        <h1>{{product}}</h1>

        <!-- 動態載入圖片url -->
        <img v-bind:src="imagePath"/><br>
        <!-- 以上可以簡寫成下面 -->
        <img :src="imagePath"/><br>
        
        <a v-bind:href="urlPath">我是連結1</a> <br>
        <!-- 以上可以簡寫成下面 -->
        <a :href="urlPath">我是連結2</a>

        <!-- if else -->
        <p v-if="inStock">In Stock</p>
        <p v-else>Out of Stock</p>

        <!-- if else if  -->
        <p v-if="inventory > 10">數量超過 10</p>
        <p v-else-if="inventory <= 10 & inventory>0">almost sold out</p>
        <p v-else>Out of Stock</p>

        <!-- show/ display -->
        <p v-show="inStock">顯示</p>

        <!-- List Render -->
        <!-- Ex_1 -->
        <ul>
            <li v-for="item in details">{{ item }}</li>
        </ul>

        <!-- Ex_2 (Color)-->
        <!--
            說明: 
                :style="{ backgroundColor: item.color}" 
                而item.color是一個變數，如果它的值是green, 會變成 
                style = "background-color: green"                 
        -->
        <ul>
            <li v-for="item in variants" :key="item.id" 
                @mouseover="updateImage(item.image)"
                class="color-circle"
                :style="{ backgroundColor: item.color}">
                {{ item.color }}</li>
        </ul>

        <!-- Event -->
        <div> Car({{cart}})</div>
        <button v-on:Click="cart += 1"> Add to Cart</button> <br>
        <button v-on:Click="addToCart"> Add to Cart (using function)</button><br>
        <!-- 以上可以簡寫成下面 -->
        <button @Click="addToCart"> Add to Cart (簡寫)</button><br>
        <button @Click="removeFromCart"> Remove from Cart</button><br>
        <br><br><br>
    </div><!--./ app-->

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
      
</body>
</html>